#container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    
}
#carousel3{
    cursor: pointer;
    
}
#carousel3 h5{
    color: black;
    font-size: 35px;
}
#carousel3 p{
    color: black;
    font-size: 25px;
}
#img3{
    opacity: 0.5;
}
#img{
    height: 550px;
}